<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xht.androidnote">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.xht.androidnote.permission.ACCESS_BOOK_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission
        android:name="com.xht.androidnote.PROVIDER"
        android:protectionLevel="normal" />
    <permission
        android:name="com.xht.androidnote.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.dsa.manhuasuanfa.DsaActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 注释掉这里的LAUNCHER，会显示别名中enabled为true的icon -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                &lt;!&ndash; 注释掉这里的LAUNCHER，会显示别名中enabled为true的icon &ndash;&gt;-->
            <!--            </intent-filter>-->
        </activity>
        <!--
 <activity-alias
            android:name=".MainActivity_rect"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_rect"
            android:label="双11啦"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_circle"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_circle"
            android:label="双12啦"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        -->
        <activity android:name=".module.okhttp.OkHttpActivity" /> <!-- ===============Activity=============== -->
        <activity android:name=".module.activity.ATestActivity" />
        <activity android:name=".module.activity.BTestActivity" />
        <activity android:name=".module.activity.CTestActivity" />
        <!--            android:allowTaskReparenting="true"-->
        <!--            android:taskAffinity="com.xht.task"-->
        <activity
            android:name=".module.activity.DTestActivity"
            android:launchMode="singleInstance" /> <!-- ===============Service=============== -->
        <activity android:name=".module.service.ServiceActivity" />

        <service android:name=".module.service.MyService" />
        <service android:name=".module.handler.MyIntentService" /> <!-- ===============BroadCastReceiver=============== -->
        <activity android:name=".module.broadcastreceiver.BroadCastActivity" />
        <!--
<receiver android:name=".module.broadcastreceiver.BroadCastActivity$MyBroadCastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->
        <!-- ===============ContentProvider=============== -->
        <activity android:name=".module.contentprovider.ContentProviderActivity" /> <!-- android4.4报错 Caused by: java.lang.SecurityException: Permission Denial: -->
        <provider
            android:name=".module.contentprovider.MyProvider"
            android:authorities="com.xht.androidnote"
            android:exported="true"
            android:permission="com.xht.androidnote.PROVIDER" /> <!-- ===============Fragment=============== -->
        <activity android:name=".module.fragment.FragmentTestActivity" />
        <activity
            android:name=".module.fragment.FragmentNavigationActivity"
            android:configChanges="orientation|screenSize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".module.fragment.FragmentViewPagerActivity" />
        <activity android:name=".module.fragment.FragmentBackStackActivity" />
        <activity android:name=".module.asynctask.AsyncTaskActivity" />
        <activity android:name=".module.eventdispatch.EventDispatchActivity" />
        <activity android:name=".module.retrofit.RetrofitActivity" />
        <activity android:name=".module.glide.GlideActivity" />
        <activity android:name=".module.handler.HandlerActivity" />
        <activity android:name=".module.rxjava.RxJavaActivity" />
        <activity
            android:name=".module.ContentReviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".module.window.DialogWindowActivity" /> <!-- ============================IPC============================ -->
        <activity android:name=".module.ipc.IPCActivity" />
        <activity
            android:name=".module.ipc.RemoteOneActivity"
            android:process=":remote" />
        <activity
            android:name=".module.ipc.RemoteTwoActivity"
            android:process="com.xht.androidnote.module.ipc.remote" />
        <activity android:name=".module.ipc.BinderActivity" />
        <activity android:name=".module.ipc.messenger.MessengerActivity" />
        <activity android:name=".module.ipc.aidl.AIDLActivity" />
        <activity android:name=".module.ipc.binderpool.BinderPoolActivity" />
        <activity android:name=".module.bitmap.BitmapActivity" />
        <activity android:name=".module.animation.AnimationActivity" />
        <activity android:name=".module.animation.ListViewAnimationActivity" />
        <activity android:name=".module.animation.PropertyAnimationActivity" />
        <activity android:name=".module.optimize.MemoryLeakActivity" />
        <activity android:name=".module.java.JavaTestActivity" />
        <activity android:name=".module.pickerview.PickerViewActivity" />
        <activity android:name=".module.hotfix.HotFixTestActivity" />
        <activity android:name=".module.proxy.ProxyActivity" />
        <activity android:name=".module.recyclerview.RecyclerViewActivity" />
        <activity android:name=".module.eventbus.EventBusActivity" />
        <activity android:name=".module.eventbus.EventBusAnotherActivity" />
        <activity android:name=".module.thread.ThreadTestActivity" />
        <activity android:name=".module.thread.executor.ExecutorActivity" />
        <activity android:name=".module.annotation.AnnotationActivity" />
        <activity
            android:name=".module.view.edittext.EditTextActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module.fragment.TestLifeCycleActivity" />
        <activity android:name=".module.customview.CustomViewActivity" />
        <activity android:name=".module.constraint.ConstraintLayoutTestActivity" />
        <activity android:name=".module.view.fps.FpsViewActivity" />
        <activity android:name=".module.kotlin.KotlinTestActivity" />
        <activity android:name=".module.okhttp.scode.OkHttpTestActivity" />
        <activity android:name=".module.fragment.lifecycle.TestFragmentActivity" />
        <activity android:name=".module.customview.CustomViewPagerActivity" />
        <activity android:name=".module.customview.NestedActivity" />
        <activity android:name=".module.customview.CoordinatorActivity" />
        <activity android:name=".module.kotlin.multiSelect.MultiSelectActivity" />
        <activity android:name=".module.kotlin.SearchActivity" />
        <activity android:name=".module.kotlin.location.LocationActivity" />
        <activity android:name=".module.kotlin.location.LocationActivity2" />
        <activity android:name=".module.kotlin.deviceId.DeviceIdActivity" />
        <activity android:name=".module.kotlin.widget.ClockActivity" />
        <activity android:name=".module.kotlin.record.RecordActivity" />
        <activity android:name=".module.kotlin.widget.TextTestActivity" />

        <service
            android:name=".module.ipc.messenger.MessengerService"
            android:process=":remote" />
        <service
            android:name=".module.ipc.aidl.BookManagerService"
            android:process=":remote" />
        <service android:name=".module.ipc.binderpool.BinderPoolService" />
        <service android:name=".module.kotlin.record.RecordingService" />
    </application>

</manifest>